#Archivos a ignorar.
*.swp
*.~
*.a
*.o

#Se ignora los contenidos de bin, menos
#Data.
bin/*
!bin/Data

#Para ARToolKit se ignoran los contenidos del
#directorio de binarios.
lib/ARToolKit/bin/*
!lib/ARToolKit/bin/Data
!lib/ARToolKit/bin/Wrl
